<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EzGPA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <EzGPA.My.MySettings>
            <setting name="ChineseNative" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnglishNative" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChineseLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnglishLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MathLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PhysicsLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HistoryLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ITEnglishWritingLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChemistryLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChineseScore" serializeAs="String">
                <value />
            </setting>
            <setting name="EnglishScore" serializeAs="String">
                <value />
            </setting>
            <setting name="MathScore" serializeAs="String">
                <value />
            </setting>
            <setting name="PhysicsScore" serializeAs="String">
                <value />
            </setting>
            <setting name="HistoryScore" serializeAs="String">
                <value />
            </setting>
            <setting name="ITEnglishWritingScore" serializeAs="String">
                <value />
            </setting>
            <setting name="ChemistryScore" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationLanguage" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="SaveScores" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCopyPrompt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearScoreBox" serializeAs="String">
                <value>True</value>
            </setting>
        </EzGPA.My.MySettings>
    </userSettings>
</configuration>
